.button {
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-radius: 8px;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  position: relative;
  transition: 200ms ease;
}

.button:disabled {
  background-color: var(--color-mid-grey);
  cursor: not-allowed;
}

.button--icon {
    padding: 8px;
    border-radius: 100%;
}

.button--text {
    background-color: transparent;
    color: var(--color-primary);
    padding: 0;
    color: inherit;
}

.loader {
    width: 16px;
    height: 16px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}