.home-page {
    padding: 24px 12px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    &__title {
        font-size: 34px;
        font-weight: 600;
        text-align: center;
        color: var(--color-primary);
    }
    &__image {
        max-height: 200px;
        width: auto;
        object-fit: contain;
        align-self: center;
    }
    &__subtitle {
        font-size: 24px;
        text-align: center;
        color: var(--color-text-secondary);
        color: var(--color-dark-grey);
    }
    &__description {
        font-size: 16px;
        text-align: center;
        color: var(--color-mid-grey);
    }
    &__form {
        max-width: max-content;
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-self: center;
        &__label {
            color: var(--color-mid-grey);
        }
        &__input {
            padding: 8px 16px;
            font-size: 16px;
            font-weight: normal;
            background: var(--color-input-bg);
            border: none;
            border-radius: 8px;
        }
    }
}
