@import url("./reset.css");
@import url("./fonts.css");
@import url("./theme.css");

* {
  box-sizing: border-box;
  font-family: var(--body-font-family) !important;
}

body {
  background: var(--color-background);
}

button {
  font-family: var(--body-font-family);
  font-size: medium;
}

a {
  color: inherit;
  text-decoration: none;
}